* {
    font-size: 50px; /*задал размер для всего текстового контента выбранного нами элемента - страница*/
    font-family: "Helvetica", "Arial", sans-serif; /*определил на странице последовательность применения шрифтов - страница*/
    line-height: 57px; /*задал базовый размер шрифта на странице - страница*/
    text-align: justify; /*задал выравнивание текста по ширине блока - страница*/
    /*box-sizing: border-box;*/
    /*определяет как вычисляется общая ширина и высота элемента.*/
}

h2, p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1em; /*размер контента выбранного нами элемента. "Em" является значением текущего размера шрифта, который установлен по умолчению или обозначен для всей странице тектового контента, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h2, h3, a, footer {
    color: #FFFFFF; /*цвет контента выбранного нами элемента*/
    background-color: #E5E000; /*цвет фона выбранного нами элемента*/
}

    h2 /*h2 - селектор элемента h2 в html*/ {/*блок со свойствами, которые применяются к элементам, выбранным данным селектором*/
    width: auto;/**/
    left: 20px;/**/
    top: 10px;/**/
    
    
    padding: 20px 20px 20px 50px;
    margin: 0px;
}

.main-img {
    display: block;
    margin: 0px;
    width: 100%;/**/
    padding: 0px;
    border: 0px solid blue;
    background-image: url(img.jpg);
    background-size: auto auto; 
    background-position: center;
}


h3, a {
    font-size: 0.5em;/**/
    line-height: 29px;/**/
    font-style: normal; /*применяем обычное начертание текста, если будет значение italic — курсивное начертание, oblique — наклонное начертание, которое можно использовать, если у шрифта нет курсивного варианта начертания*/
}

h3 {
    width: auto;/**/
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0px;
}

a {
    text-decoration: none; /*убрал у ссылки подчёркивание*/
}

p {
    font-weight: normal; /*установил нормальную толщину текста (по умолчанию)*/
    margin: 10 0 20px 10px;
}

em { /*em и strong являются строчными боксами, и настраивают CSS уже выделенной части контента*/
    display: block;/*свойство "display" с параметром "block" меняет тип бокса со строчного на блок*/
    font-weight: bold;
    padding-bottom: 30px;
    margin-bottom: 15px;/*пространство между боксами, но строчные боксы полностью игнорируют верхние и нижние отступы элемента*/
    /**/
}

a:link {/*псевдокласс - :link – ссылка, которую пользователь не посещал*/
    color: white;
    text-decoration: none;
  }
  
  a:visited {/*псевдокласс - :visited – ссылка, посещенная пользователем*/
    color: purple;
  }
  
  a:hover {/*псевдокласс - :hover – ссылка, на которую пользователь навел курсор*/
    color: aqua;
    text-decoration: underline;
  }
  
  a:active {/*псевдокласс - :active – ссылка, на которую пользователь нажал*/
    color: red;
  }

footer {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width: 10%;
    height: 20%;
    padding-left: 50px;
}

footer h2 {
    padding-right: 50px;
}


/**/

























