/**/
/**/

/*html {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: blue;
 }*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid #1feeee;*/
}
 
/*body {
    margin: 0px;
    width: auto;
    background-color: white;
}
*/

h1, li, footer {
    font-family: 'Arial';
    font-size: 50px;
}

h1 {
    font-style: normal;
    color: #E50043;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

li {
    color: #E50043;
}

a:link,
a:visited {/**/
    color: #000000;/**/
    text-decoration: none;/**/
}

a:hover {
    text-decoration: underline;/**/
}

.header {
    width: auto;/**/
    padding: 50px;
    display: flex;
    justify-content: space-between;/*контент в блоке распределился по краям*/
    flex-wrap: wrap;
    box-sizing: content-box;
    margin: 0;
    /*position: absolute;*/
    top: 40px;
}
/*помогла статья сделать позиционирование http://wordsmall.ru/html-i-css/kak-napisat-tekst-poverx-kartinki-css.html*/
.texth1 {
    width: 200px;
    /*margin-right: 1000px;*/
}

.menu {
    margin-top: 15px;/**/
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    justify-content: right;
    width: 900px;


}

.menu > li {/*Символ ">" означает, что мы берем дочерний селектор li у элемента menu.*/
    margin-right: 50px;/**/
    display: inline;/**/
}

.menu > li:last-of-type {/*Символ ">" означает, что мы берем дочерний селектор li у элемента menu.*/
    margin-right: 0;/**/
}

.hero {
    height: 950px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url(image/evian_origins_logo.png);*/
}

.hero img {
    width: 100%;
    /*background-image: url(image/evian_origins_logo.png);*/
}

.hero1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 7.3em;
    /*position: absolute;*/

}

.boxRectangle,
.description {
    width: 1200px;
    height: auto;
    border: solid #F8BFC7;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
    margin-bottom: 230px;

}

.boxRectangle {
    display: block;
    width: 1200px;
}

.rectangle1,
.rectangle2 {
    padding-left: 15px;
    font-size: 2.17em;
}

.rectangle1 {
    margin-bottom: 15px;
}

.gproducts {
    display: flex;
    justify-content: center;
}

.products {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottle {
    display: inline;
    width: 330px;
}

.bottle1{
    display: inline;
    width: 310px;
    font-size: 1.92em;
    text-align: center;
}

.description {
    display: flex;
    width: 1200px;
    /*padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;*/
}


.glass {
    display:block; 
    margin:0 auto;
    width: 10.3em;
    padding: 15px;
    
} 

.glass1 {
    width: 900px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 2.3em;
}

footer {
    color: #FFFFFF;
    background-color: #F8BFC7;
    padding: 35px;
    height: 140px;
}
