.sdf {
    color: #7E8184; /*Контент - изменил цвет*/
    font-style: italic; /*Контент - изменил шрифт*/
    width: 300px; /*Контент - задал ширину элемента в виде когтента*/
    
    
    /*ПОЛЯ*/
    padding: 50px; /*Поля - от края поля сделал отступ для контента в 50px, т.е. отодвинул контент справа и слева от краёв*/
    /*Свойство padding определяет пространство от границ до содержимого блока и это пространство заполняется фоновым цветом, заданным для всего блока. */
    /*padding: 50px; - поля вокруг текста*/
    
    background: linear-gradient(to top, #cfe7fa, #6393c1);
    
    
    /*ГРАНИЦА*/
    border: 15px solid blue;
    border-radius: 5px;

    /*ОТСТУПЫ МЕЖДУ БЛОКАМИ*/
    margin: 80px;

}


.sdf > div {
    background: #fff; /* Белый цвет фона */
    margin: 50px;
}


/**/























