* {/**/
    margin: 0;/**/
    padding: 0;/**/
    box-sizing: border-box;/**/
}

body {
    height: 1200px;/**/
    font-size: 18px;/**/
    font-family: sans-serif;/**/
    color: #000000;/**/
}

a:link,
a:visited {/**/
    color: #000000;/**/
    text-decoration: none;/**/
}

a:hover {
    text-decoration: underline;/**/
}

.header {/**/
    width: 100%;/**/
    padding: 50px;/**/

    display: flex;/**/
    justify-content: space-between;/**/

    position: fixed;/**/
    background-color: #f1eeee;/**/
}

.menu {
    margin-top: 15px;/**/
}

.menu > li {/*Символ ">" означает, что мы берем дочерний селектор li у элемента menu.*/
    margin-right: 50px;/**/
    display: inline;/**/
}

.menu > li:last-of-type {/*Символ ">" означает, что мы берем дочерний селектор li у элемента menu.*/
    margin-right: 0;/**/
}
/*Тут лучше использовать селекторы потомков, поскольку нам нужно выбрать только те <li>-элементы, которые находятся внутри .menu.*/
/*Это станет важным, после того как мы добавим подменю, где будут свои собственное <li>-элементы,*/
/*на которые это правило не должно будет влиять.*/
/*Такой код также добавляет отступы ко всем элементам списка, кроме последнего <li>,*/
/*используя псевдо-класс :last-of-type.*/
/**/
/**/

.features-menu {
    display: flex;
    flex-direction: column;
    background: #29fd2f;
    border-radius: 5px;
    padding-top: 60px;

    position: relative;      /* Добавим это */
    top: -25px;              /* Добавим это */
    left: -30px;             /* Добавим это */
}

.features-menu li {
    list-style: none;
    border-bottom: 1px solid #FFF;
    padding: 0 40px 10px 20px;
    margin: 10px;
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown > span {
    z-index: 2;
    position: relative;  /* Это очень важно! */
    cursor: pointer;
}
  
  .features-menu {
    /* ... */
    z-index: 1;
}

.dropdown:hover .features-menu {    /* Тут раньше было `.features-menu` */
    display: flex;                    /* Все остальное оставляем, как есть */
    flex-direction: column;
    background: #B2D6FF;
    /* ... */
}  

.features-menu {                    
    display: none; /* Добавляем новое правило */
  }

/**/
/**/