* {
    margin: 15px; /*задал ... - страница*/
    font-size: 50px; /*задал размер для всего текстового контента выбранного нами элемента - страница*/
    font-family: "Helvetica", "Arial", sans-serif; /*определил на странице последовательность применения шрифтов - страница*/
    line-height: 57px; /*задал базовый размер шрифта на странице - страница*/
    text-align: justify; /*задал выравнивание текста по ширине блока - страница*/
}

body {/*является родительским контейнером для всех боксов и определяет ширину*/
    /*Ширина блочных боксов устанавливается автоматически, исходя из ширины родительского контейнера;*/
    /*Высота блочных боксов зависит от контента, который в них содержится.*/
    /*Строчные боксы не влияют на вертикальную разбивку. Их не используют для определения всего лэйаута – они нужны для работы с данными внутри блока;*/
    /*Ширина строчных боксов основывается на содержащемся в нем контенте, а не на ширине родительского элемента.*/
    /*Элементы "а", "img", "em", "strong" - являются строчными элементами по умолчанию ихи можно сделать блоком display: block;*/
    /*Content (Контент) – текст, изображения или любые другие медиа;*/
    /*Padding (Поля) – расстояние между контентом бокса и его границей;*/
    /*Border (Граница) – линия между отступом и полем бокса;*/
    /*Margin (Отступы) – расстояние между боксами;*/
    /**/
    /**/
    /**/
}

h2, p {
    font-size: 1em; /*размер контента выбранного нами элемента. "Em" является значением текущего размера шрифта, который установлен по умолчению или обозначен для всей странице тектового контента, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h2, h3, a, footer {
    color: #FFFFFF; /*цвет контента выбранного нами элемента*/
    background-color: blueviolet; /*цвет фона выбранного нами элемента*/
}

h2 /*h2 - селоктор элемента h2 в html*/ {/*блок со свойствами, которые применяются к элементам, выбранным данным селектором*/
    width: auto;/**/
    left: 20px;/**/
    top: 10px;/**/
    
    
    padding: 20px;/*Такое правило добавляет по 20 пикселей с каждой стороны заголовка*/ 
    /*с добавлением пикселей увеличивается заливка фона: такое всегда происходит с padding, поскольку поля находятся внутри границы, а у всего, что находится внутри границы, есть фон.*/
    /*Иногда нам нужно отредактировать только одну сторону элемента. Для таких целей у CSS есть следующие свойства*/
    padding-top: 20px;/*верхний внутренний отступ от края внутренней границы*/
    padding-bottom: 20px;/*нижний внутренний отступ от края внутренней границы*/
    padding-left: 20px;/*левый внутренний отступ от края внутренней границы*/
    padding-right: 20px;/*правый внутренний отступ от края внутренней границы*/
    /*Кратикие формы записи padding*/
    padding: 20px 10px;/*два значения в свойствt padding, принимаются за вертикальные и горизонтальные значения отступов.*/
    padding: 20px 0 20px 10px;/*сразу четыре значения, поля можно будет менять для каждой стороны элемента отдельно*/
    /*Значения padding интерпретируются друг за другом по часовой стрелке, начиная с верхнего отступа*/
    
    /*border - граница, т.е. линия, очерченная между контентом и полями элемента.*/
    border: 3px solid blue;/*Сначала определяется ширина линии границы, затем стиль и, наконец её цвет*/
    border-top: 10px solid yellow;/*значения верхней границы линии бокса*/
    border-bottom: 15px solid green;/*значения нижней границы линии бокса*/
    border-left: 20px solid red;/*значения левой границы линии бокса*/
    border-right: 25px solid orange;/*значения правой границы линии бокса*/
    border-radius: 0px solid;/**/
    
    /*У полей (padding) бокса есть фон, а отступы (margin) всегда прозрачны*/
    /*Поля (padding) входят в зону клика элемента, а отступы (margin) нет*/
    /*Отступы (margin) схлопываются вертикально, а поля (padding) нет*/


    /*margin - пространство между боксами*/
    margin: 0px;/*пространство между боксами для всех сторон*/
    margin-bottom: 0px;/*пространство между боксами снизу*/
    margin-left: 0px;/*пространство между боксами слева*/
    margin-right: 0px;/*пространство между боксами справа*/
    margin-top: 0px;/*пространство между боксами сверху*/
}

.main-image {
    height: 100%;/**/
    background-image: url("img.jpg");/**/
    box-sizing: border-box;

    /*border - граница, т.е. линия, очерченная между контентом и полями элемента.*/
    border: 0px solid blue;/*Сначала определяется ширина линии границы, затем стиль и, наконец её цвет*/
    border-top: 0px solid yellow;/*значения верхней границы линии бокса*/
    border-bottom: 0px solid green;/*значения нижней границы линии бокса*/
    border-left: 0px solid red;/*значения левой границы линии бокса*/
    border-right: 0px solid orange;/*значения правой границы линии бокса*/
    border-radius: 0px solid;/**/

    margin: 0px;/**/
    margin-bottom: 0px;/**/
    
}


img {
    
    /*width: 1511px;
    width: auto;
    left: 0px;
    top: 0px;
    /*height: auto;
    background-image: url(img.jpg);
    /*background-size: auto auto;
    background-position: center;
    padding: 0px;
    border: 0px solid blue;
    border-radius: 0px;
    margin: 0px;*/
}


h3, a {
    font-size: 0.5em;/**/
    line-height: 29px;/**/
    font-style: normal; /*применяем обычное начертание текста, если будет значение italic — курсивное начертание, oblique — наклонное начертание, которое можно использовать, если у шрифта нет курсивного варианта начертания*/
}

a {
    text-decoration: none; /*убрал у ссылки подчёркивание*/
}

p {
    font-weight: normal; /*установил нормальную толщину текста (по умолчанию)*/
    background-color: #f1eeee; /*установил серый фон блочного бокса*/
}

em, strong { /*em и strong являются строчными боксами, и настраивают CSS уже выделенной части контента*/
    background-color: coral;/*учтановил цвет фона текста в строчных боксах*/
    display: block;/*свойство "display" с параметром "block" меняет тип бокса со строчного на блок*/
    display: inline;/*свойство "display" с параметром "inline" меняет тип бокса с блочного на строчный*/
    margin: 50px;/*пространство между боксами, но строчные боксы полностью игнорируют верхние и нижние отступы элемента*/
    padding: 20px solid red;/**/
    /**/
}

footer {/**/

}

div {/*невидимый элемент для блочного контента*/
    width: auto;/**/

    /*border - граница, т.е. линия, очерченная между контентом и полями элемента.*/
    border: 0px solid blue;/*Сначала определяется ширина линии границы, затем стиль и, наконец её цвет*/
    border-top: 0px solid yellow;/*значения верхней границы линии бокса*/
    border-bottom: 0px solid green;/*значения нижней границы линии бокса*/
    border-left: 0px solid red;/*значения левой границы линии бокса*/
    border-right: 0px solid orange;/*значения правой границы линии бокса*/
    border-radius: 0px solid;/**/

    margin: 0px;
    margin-bottom: 0px;/**/
}

span {/*невидимый элемент для строчного контента*/
    white-space: normal;/*управляет тем, как обрабатываются пробельные символы внутри элемента*/
    font-weight: bold;/*устанавливает начертание шрифта. Некоторые шрифты доступны только в нормальном или полужирном начертании.*/
    overflow: auto;/*определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.*/
    box-sizing: border-box;/*определяет как вычисляется общая ширина и высота элемента.*/
}


/**/

























