h2, p {
    font-size: 1em; /*размер контента выбранного нами элемента. "Em" является значением текущего размера шрифта, который установлен по умолчению или обозначен для всей странице тектового контента, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h2, h3, a, footer {
    color: #FFFFFF; /*цвет контента выбранного нами элемента*/
    background-color: blueviolet; /*цвет фона выбранного нами элемента*/
}

    h2 /*h2 - селоктор элемента h2 в html*/ {/*блок со свойствами, которые применяются к элементам, выбранным данным селектором*/
    width: auto;/**/
    left: 20px;/**/
    top: 10px;/**/
    
    
    padding: 20px;/*Такое правило добавляет по 20 пикселей с каждой стороны заголовка*/ 
    /*с добавлением пикселей увеличивается заливка фона: такое всегда происходит с padding, поскольку поля находятся внутри границы, а у всего, что находится внутри границы, есть фон.*/
    /*Иногда нам нужно отредактировать только одну сторону элемента. Для таких целей у CSS есть следующие свойства*/
    padding-top: 20px;/*верхний внутренний отступ от края внутренней границы*/
    padding-bottom: 20px;/*нижний внутренний отступ от края внутренней границы*/
    padding-left: 20px;/*левый внутренний отступ от края внутренней границы*/
    padding-right: 20px;/*правый внутренний отступ от края внутренней границы*/
    /*Кратикие формы записи padding*/
    padding: 20px 10px;/*два значения в свойствt padding, принимаются за вертикальные и горизонтальные значения отступов.*/
    padding: 20px 0 20px 10px;/*сразу четыре значения, поля можно будет менять для каждой стороны элемента отдельно*/
    /*Значения padding интерпретируются друг за другом по часовой стрелке, начиная с верхнего отступа*/
    
    margin: 0px;
}

img {
    margin: 0px;
    width: 100%;/**/
    padding: 0px;
    border: 0px solid blue;
}


h3, a {
    font-size: 0.5em;/**/
    line-height: 29px;/**/
    font-style: normal; /*применяем обычное начертание текста, если будет значение italic — курсивное начертание, oblique — наклонное начертание, которое можно использовать, если у шрифта нет курсивного варианта начертания*/
}

a {
    text-decoration: none; /*убрал у ссылки подчёркивание*/
}

p {
    font-weight: normal; /*установил нормальную толщину текста (по умолчанию)*/
    background-color: #f1eeee; /*установил серый фон блочного бокса*/
}

em, strong { /*em и strong являются строчными боксами, и настраивают CSS уже выделенной части контента*/
    background-color: coral;/*учтановил цвет фона текста в строчных боксах*/
    display: block;/*свойство "display" с параметром "block" меняет тип бокса со строчного на блок*/
    display: inline;/*свойство "display" с параметром "inline" меняет тип бокса с блочного на строчный*/
    margin: 50px;/*пространство между боксами, но строчные боксы полностью игнорируют верхние и нижние отступы элемента*/
    padding: 20px solid red;/**/
    /**/
}



/**/

























