* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid #000000;*/
}

/*изначально ниже весь css код написан под мобильное,  а уже потом мы добавляем код для планшета и дестопа*/

/*.page {
    display: flex;
    flex-wrap: wrap;
}*/


.header,
.footer {
    display: flex;
    height: 160px;
    background: #FFE138;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 500px;
    height: 57px;
    left: 515px;
    top: 52px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.section {
    display: flex;
    /*padding-left: 18px;*/
    padding-top: 70px;
    padding-bottom: 70px;
    /*нужно попробовать распределение внутренних элементов через бетвин и по бокам задать отступ*/
}

.content {
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    width: 30%;
    /*height: 1260px;*/
    /*margin-left: 50px;*/
    margin: 0 25px; /* Сокращенная запись для margin-left: 25px; и margin-right: 25px;*/
    /*justify-content:flex-start;*/
    /*align-items: center;*/
    /*нужно дать стиль, чтобы внутренние элементы расположились по центру*/
}


.illustration {
    width: 100%;/* Занимает всю доступную ширину */
    display: block;
    object-fit: cover;/*Про object-fit можешь здесь посмотреть интерактивный пример (https://developer.mozilla.org/ru/docs/Web/CSS/object-fit)*/
    /*мы задали object-fit: cover; и теперь картинка покрывает всю доступную ей область по ширине и высоте*/
    /*height: 600px;*/
}

.content__text {
    padding: 30px;
}

h3 {
    /*width: 334px;*/
    /*height: 25px;*/
    margin-top: 20px;
}

p {
    margin-top: 20px;
    /*width: 334px;*/
    font-family: 'Times New Roman';
    font-style: normal;
    /*font-weight: 700;*/
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}


/*Макет для мобильных устройств*/
@media only screen and (max-width: 400px) {
    body {
        background-color: #29fd2f;
    }

    .header,
    .footer {
        display: flex;
        height: 80px;
        background: #FFE138;
        align-items: center;
        justify-content: center;
}

    h1 {
        width: 380px;
        height: 57px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-size: 1.7em;
        line-height: 1.7em;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }


    .section {
        /*display: flex;*/
        flex-direction: column;
        padding-top: 2px;
        padding-bottom: 2px;


    }

    .content {
        width: 90%;
        margin: 0 25px; /* Сокращенная запись для margin-left: 25px; и margin-right: 25px;*/
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .content__text {
        padding: 15px;
    }

    h3 {
        margin-top: 5px;
    }
    
    p {
        margin-top: 5px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-size: 1.2em;
        line-height: 1.2em;
        color: #000000;
    }    
    
}

/*Макет для планшетов*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #f1eeee;
    }
}

/*Макет для десктопов*/
@media only screen and (min-width: 961px) and (max-width: 1440px) { 
    body {
        background-color: red;
    }
    
}

/*Макет для десктопов*/
@media only screen and (min-width: 1441px) {    
    body {
        background-color: blueviolet;
    }

    .header,
    .footer {
        display: flex;
        height: 300px;
        background: #FFE138;
        align-items: center;
        justify-content: center;
}

    h1 {
        width: 800px;
        height: 80px;;
        font-size: 5.7em;
        line-height: 1.7em;
    }


    .content {
        width: 90%;
        margin: 0 25px; /* Сокращенная запись для margin-left: 25px; и margin-right: 25px;*/
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .content__text {
        padding: 15px;
    }

    h3 {
        margin-top: 5px;
        font-size: 6.2em;
    }
    
    p {
        margin-top: 5px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-size: 6.2em;
        line-height: 1.2em;
        color: #000000;
    }
    
}


















