/*! http://htmlbook.ru/css*/

/*? Три уровня CSS */
/* CSS позволяет задавать не только внешний вид элементов страницы, но и их расположение*/
/* На первом уровне (CSS1) доступные различные свойства шрифтов, размеров элементов, их позиционирование и прочее*/
/* CSS2 предоставляет возможность создания блочной вёрстки вместо табличной, 
предлагает звуковые таблицы стилей (удобно для посетителей с проблемами зрения), расширяет возможности первого уровня*/
/* CSS3 вносит нововведения, начиная с малых, вроде закруглённых углов блоков, заканчивая трансформацией (анимацией)*/


/*! Синтаксис CSS*/
/* Написание атрибутов стиля отличается от синтаксиса HTML*/
/* Сначала указывается один или несколько тегов, затем в фигурных скобочках {} через ; точку с запятой указываются атрибуты и их значения через двоеточие: */

/*? Способы подключения CSS*/
/* Существует несколько способов подключения стиля:
 - как внешнего файла с помощью тега <link> - добавляется между тегами <head> ... </head>
 - внутри html-страницы с помощью тега <style> - добавляется между тегами <head> ... </head>
 - как атрибута style тега элемента страницы*/

/* Для первого способа нужно создать отдельный файл с расширением css. В двух других случаях все стили пишутся непосредственно на странице сайта*/
/** */
/* Ссылку на файл стилей необходимо написать между тегами <head> ... </head>*/
/* <link rel="Stylesheet" type="text/css" href="index.css">*/
/* TODO  */
/** */


/*! Селекторы*/
/* TODO Селекторами называют специальным образом записанные выражения, */
/* TODO позволяющие применить правила форматирования некоторой группе элементов веб-страницы*/
/** селектор {правила форматирования...}*/
/** В отличии от атрибута style селекторы дают возможность форматирования сразу группы элементов, имена и атрибуты которых удовлетворяют заданным условиям*/

/* Селекторы бывают нескольких видов: 
- селектор элемента (например, <h1>, <p>, <body> и др. = html теги, которые имеют свойства селектор и значение в свойстве селектора)
- селектор class 
- селектор ID
- селекторы по иерархии
- событийные селекторы*/

/*? Селектор class*/
/* Классы применяются, когда необходимо задать разные стили для одного тега, одинаковый стиль для разных тегов или 
просто определить стиль для элемента веб-страницы. При использовании совместно с тегами запись для классов будет следующей:
   элемент.КЛАСС {правила стиля}*/

/* Используя класс стиля путём указания атрибута class с заданным значением у элементов заданного типа. К примеру, если класс 
и именем "C1" создан для параграфа (элемент <p>), то его нельзя использовать для форматирования, к примеру, заголовков*/

/** Универсальный Class*/
/** Существует возможность создать класс стиля, не привязанный к конкретному типу элемента. */
/** При создании такого стиля просто не указывайте тип элемента, к которому его можно применить.*/
/** Так класс получиться универсальным и может быть применён к разным элементам страницы.*/
/* TODO классы можно комбинировать между собой, добавляя несколько классов к одному тегу.*/
/* TODO Классы могут использоваться в коде неоднократно*/

/*? Селекторы по иерархии*/
/* Селекторы по иерархии, или контекстные селекторы, позволяют задавать правила оформления элементов, 
с учётом их места в общей иерархии элементов страницы, т.е. с учётом контекста.*/
/* Например, можно по разному представлять обыкновенные абзацы и абзацы, вложенные в ячейки таблицы, 
простые гиперссылки и гиперссылки основного меню страницы и т.д.*/

/*? Событийный селектор*/
/** Особые типы селекторов, позволяющие изменять внешний вид объекта в зависимости от типа события при просмотре сайта.*/
/** Самые популярные типы события - это наведение курсора мыши на элемент страницы. Например, наведение курсора на ссылку.*/


body {
   background-color: teal;
   color: white;
}
h1 {
   font-size: 35px; /* TODO - размер шрифта, указывается в px, */
   color: blue; /* TODO - цвет шрифта*/
   font-family: Arial, Helvetica, sans-serif; /* TODO - шрифт*/
   text-align: center; /* TODO - размещаем текст по центру блока*/
}

h3.zagolovok3 {
   font-family: Comic Sans MS;
   color: aqua;
} /* TODO класс с привязкой к тегу*/

.zagolovok {
   color: black;
} /* TODO общий класс без привязки к тегу, его ещё называют универсальным классом*/

.blok1 {
   width: 70%;
   margin: 0 auto; /* TODO - блок по центру*/
   background-image: url(https://quick-trips.com/wp-content/uploads/2017/12/4444444444444445.jpg);
   padding: 7px; /* TODO - внутренние отступы*/
   border: 30px solid rgb(73, 143, 164);
   border-radius: 10px;
}

#blok2 {
   border: 30px solid rgb(29, 194, 98);
   border-radius: 10px;
}

b u {/* TODO - два подряд тега u вложен в b - являются селекторами по иерархии*/
   color: deeppink; /* TODO - */
}

a {
   margin: 1px;
}

a:hover {/* TODO - событийный селектор. Работает при наведении на ссылку*/
   text-decoration: none;
   color: white;
}

h3:hover {/* TODO - событийный селектор. Работает при наведении на элемент веб-страницы*/
   text-decoration: none;
   color: blueviolet;
}

img {
   transform: scale(1);
   transition: 2s all;
}
 img:hover {
   transform: scale(1.3);
 }

/* */
/* TODO  */
/** */
/*! */
/*? */