h1, p {
    background-color: yellow;/*фон блочного бокса*/
}

em, strong {
    background-color: #29fd2f;/*фон строчного бокса*/

    /*Мы можем изменить тип бокса у HTML-элементов через свойство display.*/
    /*если нам надо создать блочные элементы <em> и <strong> вместо строчных, мы можем следующее:*/
    display: block;
    /*удобно, если мы, например, хотим поменять элементы <a> на кнопки или отформатировать <img/>*/
    /*элементы (оба элемента являются строчными по умолчанию)*/

    /*превратим их обратно в строчные боксы, поменяв значение свойства display на inline*/
    display: inline;

}

/*Content (Контент) – текст, изображения или любые другие медиа;*/

h1 {
    padding: 50px;/*(Поля) – расстояние между контентом бокса и его границей со всех сторон*/
    /*у всего, что находится внутри границы (Broder), есть фон.*/
    /*Border (Граница) – линия между отступом и полем бокса*/
}

/*нам нужно отредактировать только одну сторону элемента.*/
p {
    padding-top: 20px;/*(Поля) – расстояние между контентом бокса и его границей сверху*/
    padding-bottom: 20px;/*(Поля) – расстояние между контентом бокса и его границей снизу*/
    padding-left: 10px;/*(Поля) – расстояние между контентом бокса и его границей слева*/
    padding-right: 10px;/*(Поля) – расстояние между контентом бокса и его границей справа*/
}

h2 {
    padding: 20px 10px;/*Когда мы добавляем два значения в свойство padding, они принимаются за вертикальные и горизонтальные значения отступов*/
    border: 1px solid red;/*граница - определяем ширину линии границы, затем стиль и, наконец, её цвет*/
    /*Граница, линии, очерченной между контентом и полями элемента.*/
}

h3 {
    padding: 30px 15px 50px 40px;/*если мы пропишем сразу четыре значения, то поля можно будет менять для каждой стороны элемента отдельно*/
    /*Значения padding интерпретируются друг за другом по часовой стрелке, начиная с верхнего отступа: Верх, Право, Низ, Лево*/
    border: 1px solid #0b24fb;/*граница - определяем ширину линии границы, затем стиль и, наконец, её цвет*/
    /*Граница, линии, очерченной между контентом и полями элемента.*/
}

h4 {
    border-bottom: 2px solid #0b24fb;
    border-top: 5px solid red;
    border-left: 10px solid yellowgreen;
    border-right: 7px solid brown;
}

h1, h2, h3, h4, p {
    margin-bottom: 20px;
    margin-top: 40px;
}

body, h1, ul, li, ol {
    border: 2px solid green;
}


em, strong, del, ins, s, a {
    border: 4px solid gray;
}


strong {
    margin: 50px;/*строчные боксы полностью игнорируют верхние и нижние отступы элемента, добавятся отступы в 50px слева и справа*/
    padding: 50px;/*расширение строчного бокса во все стороны на 50px*/
}

div {
    color: #f1eeee;
    background-color: #29fd2f;
    font-weight: bold;/*Свойство font-weight позволяет форматировать шрифт текста полужирным начертанием. Значение normal текст имеет обычный вес. bold соответствует полужирному начертанию.*/
    padding: 20px;
    text-align: center;
    border: 2px solid #0b24fb;
    border-radius: 5px;
    width: 200px;/*когда контент больше ширины элемента, он начинает переноситься вертикально*/
    box-sizing: border-box;/*делают ширину бокса равной 200px, включая поля и границы*/

    margin: 20px auto;/*мы меняем значение правого и левого отступа блочного элемента на auto, 
    блок автоматически выравнивается по центру по отношению к родительскому элементу*/
    /*Важно запомнить, что такой подход работает только для блоков с уже заданным свойством width: если его убрать, 
    то наша кнопка займет всю ширину браузера, что сделает выравнивание по центру бессмысленным.*/
    
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}





