* {
  /*Заметили эту белую рамку вокруг страницы? Это отступы, которые браузер добавляет по умолчанию. При этом у разных браузеров есть разные стили по умолчанию, 
  что делает затруднительным создание таблиц стилей, которые везде будут отображаться одинаково.*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Этот селектор работает для всех HTML-элементов, меняя значения свойств margin и padding нашей веб-страницы. 
  Мы также переконвертировали все наши боксы в border-box, что является очень хорошей практикой.*/
  /*эти три указанных в коде выше правила уже позволяют нам подстраивать модель CSS-боксов для наших нужд, не парясь насчет разных браузеров.*/
}

body {
    color: #414141; /* цвет текста*/
    background-color: #eeeeee; /*цвет фона страницы - элемента*/
    font-size: 18px;/*Размер шрифта, который мы определили как базовый = по умолчанию*/
    text-align: center;
}

h1 {
    font-size: 36px;/*Размер заголовка*/
    font-size: 2em;/*Em является значением текущего размера шрифта, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h2 {
    font-size: 28px;/*Размер заголовка*/
    font-size: 1.6em;/*Em является значением текущего размера шрифта, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;/*Уставнавливает шрифт задав приортет*/
  font-weight: normal;/*font-weight отвечает за толщину текста*/
  font-style: normal;/*выделяется ли он курсивом или нет*/
}

ul {
  list-style-type: circle; /*Устанавливает тип маркера на список*/
  /*list-style-type: none;Значение none позволяет придать пунктам меню вид кнопок*/
}

ol {
  list-style-type: lower-roman;/*Устанавливает тип маркера на список*/
}

a {
  text-decoration: none;/*Форматирование текста. Убирает декорирование, например подчёркивание*/
  text-decoration: line-through;/*зачёркивает текст в cсылке находящейся в селекторе <a><a/> */
}

p {
  text-align: left;
  /*text-align отвечает за выравнивание текста в HTML-элементе. данное свойство применяется сразу ко 
  всей странице. Это не очень удобно при работе с сайтом, поэтому мы начнем применять CSS-боксы.*/
}





/* */