body { /* это селектор у него есть характеристики которые пишуться после фигурной скобки*/
    color: #414141; /*цвет шрифта*/
    background-color: #EEEEEE; /*цвет фона*/
}
/* так выглядит комментарий в CSS*/
/**/

h1 {
    font-size: 36px; /*размер заголовка указан в пикселях*/
}

h2 {
    font-size: 1.6em; /*размер заголовка - Em является значением текущего размера шрифта, от которого можно брать какие угодно пропорции 1em, 2em и т.д.*/
}

h1, h2, h3, h4, h5, h6 { /*мы установили шрифт для всех заголовков с помощью одного CSS-правила*/
    font-family: "Arial", "Helvetica", sans-serif; /*Свойство font-family отвечает за тип шрифта в выбранном нами элементе. Данное свойство принимаем различные значения, поскольку набор установленных шрифтов может меняться от пользователя к пользователю.*/
    font-weight: normal; /*Свойство font-weight отвечает за толщину текста в нашем элементе*/
    font-style: normal; /*font-style за то, выделяется ли он курсивом или нет*/
}

ul {
    list-style-type: circle; /*Свойство list-style-type позволяет менять тип маркеров, используемых в <li>-элементах. Задавать значения этого свойства следует в элементах <ul> или <ol>*/
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left; /*Обратите внимание на то, что данное свойство применяется сразу ко всей странице. Это не очень удобно при работе с сайтом, поэтому в следующей главе мы начнем изучать CSS-боксы.*/
}



